.relativeBlue {
  /* font-size: 0.30em; */
  font-size: 30px;
  color: white;
  background-color: #0088cc;
  border-color: #0088cc;
}

.relativeBlue:hover {
  background-color: #00aaff;
}

.relativeRed {
  /* font-size: 0.30em; */
  font-size: 30px;
  color: white;
  background-color: #800000;
  border-color: #800000;
  opacity: .7;
}

.relativeRed:hover {
  color: white;
  background-color: #cc0000;
  border-color: #800000;
  opacity: .8;
}

.relativeYellow {
  font-size: 30px;
  color: black;
  background-color: #ff9900;
  border-color: #ff9900;
}


.relativeYellow:hover {
  background-color: #ffdd00;
  border-color: #ff9900;
}

#customCursor1:hover {
  cursor: no-drop;
}

.relativeBlack {
  font-size: 0.34em;
  color: black;
}

.independent {
  font-size: 30px;
  color: white;
}

.independentBlack {
  font-size: 30px;
  color: black;
}
