.relativeBlue {
  /* font-size: 0.30em; */
  font-size: 30px;
  color: white;
  background-color: #0088cc;
  border-color: #0088cc;
}

.relativeRed {
  /* font-size: 0.30em; */
  font-size: 30px;
  color: white;
  background-color: #800000;
  border-color: #800000;
}

.relativeOrange {
  /* font-size: 0.30em; */
  font-size: 30px;
  color: black;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  opacity: 0.5;
}

.relativeBlack {
  font-size: 0.34em;
  color: black;
}

.independent {
  font-size: 30px;
  color: white;
}

.independentBlack {
  font-size: 30px;
  color: black;
}
