.relative {
  font-size: 0.35em;
  color: white;
}

.relativeBlack {
  font-size: 0.35em;
  color: black;
}

.independent {
  font-size: 40px;
  color: white;
}

.independentBlack {
  font-size: 40px;
  color: black;
}
