.blue {
    color: #ccffff;
}

.blueBackground {
    color: black;
    background-color: #ccffff;
}

.red {
    color: red;

}

.redBackground {
    color: black;
    background-color: red;
}

.yellow {
    color: yellow;
}

.yellowBackground {
    background-color: yellow;
    color: black;
}

.chase {
    background-image: url('https://remember-the-ralamo-images.s3.amazonaws.com/Chase.jpg');
}

.cavern {
    background-image: url('https://remember-the-ralamo-images.s3.amazonaws.com/Cavern.jpg');
}

.workshop {
    background-image: url('https://remember-the-ralamo-images.s3.amazonaws.com/Workshop.jpg');
}