.blue {
  background: blue;
  color: white;
}

.blueBorder {
  border: 4px solid blue;
}

.red {
  background: red;
  color: white;
}

.redBorder {
  border: 4px solid red;
}

.yellow {
  background: #ffcc33;
  color: black;
}

.yellowBorder {
  border: 4px solid #ffcc33;
}
