.blue {
  background: #0088cc;
  color: white;
}

.blueBorder {
  border: 4px solid #0088cc;
}

.red {
  background: #800000;
  color: white;
}

.redBorder {
  border: 4px solid #800000;
}

.yellow {
  background: orange;
  color: black;
}

.yellowBorder {
  border: 4px solid orange;
}
